.modebar {
    display: none !important;
}

@media (min-width: 1000px) {
    .modebar {
        display: inline !important;
    }

    .plot {
        height: 60rem;
    }
}

.plot {
    margin-bottom: 1rem;
}

.select-city-label {
    font-weight: bold;
    margin-bottom: 1rem;
}

.ticker-text {
    color: gray;
}

.app-row {
    margin-bottom: 2rem;
}


.footer {
    font-size: 1.25rem;
    margin-top: 2rem;
    border-top: solid gray .1rem;
    text-align: center;
    padding-top: 1rem;
    color: gray;
}

