@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.modebar {
    display: none !important;
}

@media (min-width: 1000px) {
    .modebar {
        display: inline !important;
    }

    .plot {
        height: 60rem;
    }
}

.plot {
    margin-bottom: 1rem;
}

.select-city-label {
    font-weight: bold;
    margin-bottom: 1rem;
}

.ticker-text {
    color: gray;
}

.app-row {
    margin-bottom: 2rem;
}


.footer {
    font-size: 1.25rem;
    margin-top: 2rem;
    border-top: solid gray .1rem;
    text-align: center;
    padding-top: 1rem;
    color: gray;
}

.global-error i {
    padding-right: .2rem;
}
.global-error {
    font-size: 1.5rem;
    padding: .85rem;
    vertical-align: middle;
    color: #D8000C;
    background-color: #FFD2D2;
}
